/** Different fade-in animations */

/* Fade-in animations */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.8s ease-out forwards;
}

.fade-in-100 {
  animation: fadeIn 0.1s ease-out forwards;
}

.fade-in-300 {
  animation: fadeIn 0.3s ease-out forwards;
}

.fade-in-400 {
  animation: fadeIn 0.4s ease-out forwards;
}

/**
 * Hidden state before element comes into view
 *
 * This is the default state for all view-first animations.
 * It ensures that the element is hidden until it comes into view.
 *
 * The animation is applied when the element comes into view.
 */
.view-first-fade-in,
.view-first-fade-in-100,
.view-first-fade-in-300,
.view-first-fade-in-400,
.view-first-fade-in-500,
.view-first-fade-in-600 {
  opacity: 0;
  will-change: opacity, transform;
  visibility: hidden;
}

/**
 * Animation is applied when in-view class is added
 *
 * This is the animation that is applied when the element comes into view.
 *
 * The animation is applied when the element comes into view.
 */
.view-first-fade-in.in-view {
  animation: fadeIn 1s ease-out forwards;
  visibility: visible;
}

.view-first-fade-in-100.in-view {
  animation: fadeIn 0.1s ease-out forwards;
  visibility: visible;
}

.view-first-fade-in-300.in-view {
  animation: fadeIn 0.3s ease-out forwards;
  visibility: visible;
}

.view-first-fade-in-400.in-view {
  animation: fadeIn 0.4s ease-out forwards;
  visibility: visible;
}

.view-first-fade-in-500.in-view {
  animation: fadeIn 0.5s ease-out forwards;
  visibility: visible;
}

.view-first-fade-in-600.in-view {
  animation: fadeIn 0.6s ease-out forwards;
  visibility: visible;
}

/**
 * Respect user preference for reduced motion
 *
 * This is the animation that is applied when the user has reduced motion
 * enabled.
 *
 * Makes sure the elements are visible since the view-first animation actually
 * hides the elements at first.
 */
@media (prefers-reduced-motion: reduce) {

  .view-first-fade-in.in-view,
  .view-first-fade-in-100.in-view,
  .view-first-fade-in-300.in-view,
  .view-first-fade-in-400.in-view,
  .view-first-fade-in-500.in-view,
  .view-first-fade-in-600.in-view {
    animation: none;
    opacity: 1;
    visibility: visible;
  }

  .fade-in,
  .fade-in-100,
  .fade-in-300,
  .fade-in-400 {
    animation: none;
    opacity: 1;
  }
}